/* Privacy SCSS */

@import "../../../mdb/scss/custom-variables";

.Privacy{
    body{
        color: red;
    }
    #privacy{
        margin-top: 150px;
    }
    header{
        height: auto;
    }
    header section{
        margin-top: 150px;
        padding-bottom: 50px;
    }
    @media (max-width: 740px) {
        header h1{
            font-size: 2rem;
        }
    }
    .heading {
        margin: 0 6rem;
        font-weight: 700;
    }
    .subheading {
        margin: 2.5rem 6rem;
    }
    .title {
        margin-top: 6rem;
        margin-bottom: 2rem;
    }
    .subtitle {
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 6rem;
    }
}
