// Your custom variables

$unique-blue:  #9dbdd6 !default;
$unique-lightblue: #eff4f8 !default;
$unique-grey: #545456 !default;
$unique-lightgrey: #f3f3f3 !default;
$unique-darkblue: #2a3c4a !default;
$dark-grey-text: #212529 !default;