// Importing scss of all active pages
@import "./mdb/scss/custom-variables";
    html,
    body,
    header,
    .view, #root, main, #hero-carousel .carousel-inner, #hero-carousel, #hero-carousel .carousel-item {
        height: 100%;
        font-family: "Oxfam Regular", "Roboto", sans-serif;
        font-weight: 300;
    }

    @media (max-width: 740px) {
        html,
        body,
        header,
        .view, #root, main, #hero-carousel .carousel-inner, #hero-carousel, #hero-carousel .carousel-item {
            height: 100vh;
        }
    }

    /* Navbar */
    .navbar-brand{
        max-width: 70%;
        img{
            width: 250px;
            max-width: 100%;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    h1 {
        letter-spacing: 8px;
    }
    /* DARK */
    .navbar-dark{
        color: white !important;
        background-color: rgba(0,0,0,0.4) !important;
    }
    .navbar-dark:not(.top-nav-collapse) {
        background: transparent !important;
    }
    @media (max-width: 991px) {
        .navbar-dark:not(.top-nav-collapse) {
            background: rgba(0,0,0,0.4) !important;
        }
    }
    /* LIGHT */
    .navbar-light{
        background-color: rgba(255,255,255,.9) !important;
        color: #000 !important;
    }
    .navbar-light:not(.top-nav-collapse) {
        background: rgba(255,255,255,.75) !important;
    }
    @media (max-width: 991px) {
        .navbar-light:not(.top-nav-collapse) {
            background: rgba(255,255,255,.9) !important;
        }
    }

    /* Font fixing */
    .btn{
        letter-spacing: 2px;
    }
    /* Footer */
    .page-footer .container{
        border-top: 2px black solid;
    }
    footer.page-footer a {
        color: $dark-grey-text;
        text-transform: uppercase;
    }
    footer .email-link {
        text-transform: none !important;
    }
    footer .switch label input[type=checkbox]:checked+.lever{
        background-color: $unique-blue !important;
    }
    footer .switch label .lever{
        background-color: lightgrey;
    }
    footer .lever::after{
        background-color: #F1F1F1 !important;
    }