// Importing scss of all active pages
@import "./components/pages/Homepage/Homepage.scss";
@import "./mdb/scss/custom-variables";

html,
body,
header,
.view, #root, main, #hero-carousel .carousel-inner, #hero-carousel, #hero-carousel .carousel-item {
    height: 100%;
    font-family: "Oxfam Regular", "Roboto", sans-serif;
    font-weight: 300;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view, #root, main, #hero-carousel .carousel-inner, #hero-carousel, #hero-carousel .carousel-item {
        height: 100vh;
    }
}

/* Navbar */
.top-nav-collapse {
    background-color: rgba(0,0,0,0.4) !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: rgba(0,0,0,0.4) !important;
    }
}

h1 {
    letter-spacing: 8px;
}

/* Font fixing */
.btn{
    letter-spacing: 2px;
}
/* Hero */
.hero-view{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.carousel-caption{
    right: auto !important;
    left: auto !important;
    width: 100%; 
    z-index: 2;
}
.hero-gradient{
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(255, 255, 255, 0.1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 0.1)), color-stop(100%,rgba(0,0,0,0.6) 0%)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(255, 255, 255, 0.1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(255, 255, 255, 0.1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(255, 255, 255, 0.1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(255, 255, 255, 0.1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

h5 {
    letter-spacing: 3px;
}
    
.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

/* Sections */ 
section{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.section-blue{
    background-color: $unique-blue;
    color: white;
}
.section-lightblue{
    background-color: $unique-lightblue;
    color: $dark-grey-text;
}
.section-white{
    background-color: white;
    color: $dark-grey-text;
}
.section-grey{
    background-color: $unique-grey;
    color: white;
}
.section-lightgrey{
    background-color: $unique-lightgrey;
    color: $dark-grey-text;
}

.section0-row .col-md-4{
    padding-left: 3rem;
    padding-right: 3rem;
}

.section0-row .col-md-4:first-child{
    border-right: 1px white solid;
}
.section0-row .col-md-4:last-child{
    border-left: 1px white solid;
}
@media (max-width: 740px) {
    .section0-row .col-md-4:first-child{
        border-right: none;
        border-bottom: 1px white solid;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    .section0-row .col-md-4:last-child{
        border-left: none;
        border-top: 1px white solid;
        padding-top: 1rem;
        margin-top: 1rem;
    }
}
.section0-row img{
    max-height: 125px;
    width: auto;
    margin-bottom: 1rem;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#customer-carousel{
    background: white;
}

#interview-carousel .carousel-indicators{
    position: relative;
}
#interview-carousel .btn-floating span {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: $unique-grey;
    font-size: 1.625rem;
    line-height: 61.1px;
}
#interview-carousel .carousel-indicators button{
    border: none;
    outline: none;
    background: #f9f9f9;
    box-shadow: none;
}
#interview-carousel .carousel-indicators .active{
    background: white;
}
#interview-carousel {
    position: relative;
    z-index: 0;
}
.num-display{
    position: absolute;
    color: white;
    font-size: 15rem;
    line-height: 15rem;
    left: 20%;
    z-index: -1;
    top: 0;
}

/* Graviola (fix for asbest) */
@mixin distribute-on-circle( 
  $nb-items,
  $circle-size,
  $item-size,
  $class-for-IE: false
) {
  $half-item: ($item-size / 2);
  $half-parent: ($circle-size / 2);
  
  position: relative; /* 1 */
  width:  $circle-size;
  height: $circle-size;
  margin-bottom: $item-size / 1.5!important;
  margin-top: $item-size / 1.5 !important;
  padding: 0;
  border-radius: 50%; 
  list-style: none; /* 2 */ 
  box-sizing: content-box; /* 3 */ 
  
  > * { /* 4 */
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -$half-item;
  }
  
  $angle: (360 / $nb-items);
  $rot: 0;

  @for $i from 1 through $nb-items {
    @if not $class-for-IE {
      > :nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($half-parent) rotate($rot * -1deg);
      }
    } @else {
      > .#{$class-for-IE}#{$i} {
        // If CSS transforms are not supported
        $mt: sin($rot * pi() / 180) * $half-parent - $half-item;
        $ml: cos($rot * pi() / 180) * $half-parent - $half-item;
        margin: $mt 0 0 $ml;
      }
    }

    $rot: ($rot + $angle);
  }
}

.graviola-container {
  @include distribute-on-circle(4, 23em, 13em, false); //Desktop
  //@include distribute-on-circle(4, 10em, 6em, false); //Mobile
  margin: 5em auto 0;
  border: solid 5px $unique-blue;
}

.graviola-container .circle { 
    display: block; 
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    p{
        margin-bottom: .5em;
    }
    p:last-child{
        margin-bottom: 0;
    }
    &::before{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -30px;
        left: calc(50% - 30px);
        width: 60px;
        height: 60px;
        border-radius: 100%;
    }
}
.circle-blue{
    p{
        color: white;
    }
    a{
        color: white;
    }
    a:hover{
        color: #f9f9f9;
    }
    background-color: $unique-blue;
}
.circle-white{
    p{
        color: $unique-blue;
    }
    a{
        color: $unique-blue;
    }
    a:hover{
        color: #95b2c9;
    }
    background-color: white;
}
.c1{
    &::before{
        content: "1";
        background-color: white;
        color: $unique-blue;
    }
}
.c2{
    &::before{
        content: "2";
        background-color: $unique-blue;
        color: white;
    }
}
.c3{
    &::before{
        content: "3";
        top: unset !important;
        bottom: -30px;
        background-color: white;
        color: $unique-blue;
    }
}
.c4{
    &::before{
        content: "4";
        background-color: $unique-blue;
        color: white;
    }
}
/* Footer */
.page-footer .container{
    border-top: 2px black solid;
}
footer.page-footer a {
    color: $dark-grey-text;
    text-transform: uppercase;
}
footer .email-link {
    text-transform: none !important;
}

/* Fix cards */
.pricing-card, .premium{
    box-shadow: none;
    border-radius: 0;
}
.pricing-card h3{
    color: $unique-blue;
}
.pricing-card .pricing-description{
    background-color: $unique-blue;
    color: white;
}
.premium .pricing-description {
    background-color: $unique-darkblue;
    color: white;
}
.premium h3{
    color: $unique-darkblue;
}

/* Fonts */
.font-weight-bold{
    font-family: 'Oxfam Headline', sans-serif;
}
.pricetag{
    font-family: 'Oxfam Bold', sans-serif;
    font-size: .9rem;
    letter-spacing: 1px;
    color: $unique-blue;
}
